--- 
layout: page
title: Events
description: Wondering what we do?
---

From helping people build their first Remote Controlled Car to helping them make an awesome project in just one night, we conduct various amazing events for the tech enthusiastic community of IIT Bombay. We also conduct sessions to help you learn about things as simple as Basic Electronics to topics as advanced as Microcontrollers! Below are some events which we conduct along with the reviews of those attending them.

<hr>
<div class="slider">
{% for event in site.events %}
          {% capture filename %}{{ event.path | remove:"_events/" | split:"/" | last }}{% endcapture %}
          {% if filename == "index.md" %}
            <div>
              <a href="{{ site.baseurl }}{{ event.url }}">
                  <h2>{{event.title}}</h2>
                  <img alt="{{ event.imgs | first }}" src="{{site.baseurl}}/{{ event.img-folder }}/{{ event.imgs | first }}"/>
              </a>
            </div>
          {% endif %}
{% endfor %}
</div>
