---
layout: default
group: Tutorials
title: Tutorials
---
{% include libs/truncate_start %}
{% for tut in site.tutorials %}
{% capture filename %}{{ tut.path | remove:"_tutorials/" | split:"/" | last }}{% endcapture %}
    {% if filename == "index.md" %}
            <article class="hero-unit">
                <header>
                    <hgroup>
                        <h2>
                            <a href="{{ site.baseurl }}{{ tut.url }}">{{ tut.title }}</a>
                        </h2>
                        <h5>
                            Last updated: {{ tut.last_updated | date: site.date_format }}
                        </h5>
                    </hgroup></header>
                    <div class="content">
                        {% include libs/thumbnail %}
                        {% include libs/truncate_exec id=tut %}
                    </div>
                    <footer>
                        <p><a href="{{ site.baseurl }}{{ tut.url }}" class="btn btn-primary btn-medium">Read this &raquo;</a></p>
                    </footer>
            </article>
        <!--
            <article class="span 12 ">
                <header>
                    {% include libs/thumbnail %}
                    <hgroup>
                        <h2>
                            <a href="{{ site.baseurl }}{{ tut.url }}">{{ tut.title }}</a>
                        </h2>
                        <h5>
                            {{ tut.author }}
                        </h5>
                    </hgroup>
                </header>
                <div class="content">
                    {% include libs/truncate_exec id=tut %}
                </div>
                <footer>
                    <p><a href="{{ site.baseurl }}{{ tut.url }}" class="btn">Read this &raquo;</a></p>
                </footer>
            </article>
        -->
    {% endif %}
{% endfor %}
{% include libs/truncate_end %}
