---
layout: page
title: Community Blog
description: Blog posts contributed by the electronics community of IITB
---

<p>
<b>Filter by Category:</b><br>
{% for category in site.categories %}
<a href="{{ site.baseurl }}/blog/{{ category[0] | slugify }}">{{ category[0] }}</a>
{% if forloop.last == false %} - {% endif %}
{% endfor %}
</p>

{% for post in paginator.posts %}
    {% include blog_item.html %}
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
