---
layout: nil
---
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="{{ site.lang }}"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="{{ site.lang }}"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="{{ site.lang }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ site.lang }}"> <!--<![endif]-->
<head>
{% include head.html %}
{% if site.asides.themes %}{% include script.html %}{% endif %}
</head>
<body>
<header id="header">
{% include header.html %}
</header>

<nav id="navbar">
{% include navbar.html %}
</nav>

<div class="container-fluid">
	<div class="row-fluid">
		<div id="main" class="span9">
{{ content }}
		</div>

		<aside id="sidebar" class="span3">
{% include asides.html %}
		</aside><!--/span-->
	</div><!--/row-->
</div> <!-- /container -->

<hr>

<footer id="footer">
{% include footer.html %}
</footer>
{% unless site.asides.themes %}{% include script.html %}{% endunless %}
{% include bottom.html %}
<a href="#" class="go-top" style="
	position: fixed;
	bottom: 2em;
	right: 2em;
	text-decoration: none;
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
	font-size: 12px;
	padding: 1em;
	display: none;

.	go-top:hover {
	background-color: rgba(0, 0, 0, 0.6);"}>
	Go Top
</a>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">$(document).ready(function() {
			// Show or hide the sticky footer button
			$(window).scroll(function() {
				if ($(this).scrollTop() > 200) {
					$('.go-top').fadeIn(200);
				} else {
					$('.go-top').fadeOut(200);
				}
			});
			
			// Animate the scroll to top
			$('.go-top').click(function(event) {
				event.preventDefault();
				
				$('html, body').animate({scrollTop: 0}, 300);
			})
		});
</script>
</body>
</html>