---
layout: default
---
<header class="intro-header" style="background-image: url('{% if page.image_path %}{{ page.image_path }}{% else %}{{ site.baseurl }}/{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    {% if page.excerpt %}
                    <h3 class="subheading">{{ page.excerpt }}</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {{ content }}
                <hr>
        
       				<div class="slider">
                        {% for img in page.imgs %}
                        <img alt="{{img}}" src="{{site.baseurl}}/{{page.img-folder}}/{{img}}"/>  
                        {% endfor %}
					</div>
				<hr>

				<!-- iterate over reviews here -->
				{% for event in site.events %}
				{% capture eventname %}{{ event.path | remove:"_events/" | split:"/" | first }}{% endcapture %}
				{% capture filename %}{{ event.path | remove:"_events/" | split:"/" | last }}{% endcapture %}
				{% if filename != "index.md" and page.event_folder == eventname %}
				<div id="{{ filename | split:"-" | last | remove:".md" }}">
				<p>
				{{ event.content }}
				</p>
				<h3 class="review-name">{{ event.title }}</h3>
				</div>
				<hr>
				{% endif %}
				{% endfor %}

			</div>
        </div>
    </div>
</article>
