---
layout: default
group: Tutorials
---
<article class="single post">
	<header>
		<h1>
			<a href="{{ site.baseurl }}{{ page.url }}" rel="bookmark" title="Permanent link">{{ page.title }}</a>
		</h1>
		<h4>
			Last updated: {{ page.last_updated | date: site.date_format }}
		</h4>
	</header>
	<div class="content" style="padding: 1.5em">
    	{{ content }}
	</div>
	<div class="content index" style="padding: 1.5em; font-size: 1.5em; background-color: #f6f6f6;" >
        {% include libs/thumbnail %}
		<ol>
		{% for tut in site.tutorials %}
    		{% capture tutname %}{{ tut.path | remove:"_tutorials/" | split:"/" | first }}{% endcapture %}
		    {% capture filename %}{{ tut.path | remove:"_tutorials/" | split:"/" | last }}{% endcapture %}
    			{% if filename != "index.md" and page.topic_folder == tutname %}
        		<li><a href="#{{ filename|remove:".md" }}">{{ tut.title }}</a>
	        	</li>
    			{% endif %}
		{% endfor %}
		</ol>
	</div>
	{% for tut in site.tutorials %}
    		{% capture tutname %}{{ tut.path | remove:"_tutorials/" | split:"/" | first }}{% endcapture %}
		    {% capture filename %}{{ tut.path | remove:"_tutorials/" | split:"/" | last }}{% endcapture %}
    			{% if filename != "index.md" and page.topic_folder == tutname %}
        		<div id="{{ filename|remove:".md" }}">
        			<h3>{{ tut.title }}</h3>
        			<p>
        			{{ tut.content }}
        			</p>
        		</div>
        		<hr>
    			{% endif %}
	{% endfor %}
</article>
